.social-share-style-1 .social-share li a.whatsapp {
    background-color: #35C573;
    :hover{
        background-color: #62C973;
        color: #fff;
    }
}
.over-1{
    background-color: #8a8d91;
    :hover{
        background-color: --gradient-box-w;
        color: #fff;
        font-weight: bold;
    }
}